altgraph==0.17
astroid==2.3.3
auto-py-to-exe==2.6.6
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.8.2
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2023.5.7
cffi==1.14.0
chardet==3.0.4
colorama==0.4.6
comtypes==1.1.7
cycler==0.11.0
debugpy==1.6.3
decorator==5.1.1
Eel==0.11.0
entrypoints==0.4
flit_core==3.6.0
fonttools==4.38.0
future==0.18.2
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
idna==2.9
imageio==2.31.1
ipykernel==6.16.2
ipython==7.33.0
isort==4.3.21
jedi==0.18.2
joblib==1.2.0
jupyter_client==7.4.9
jupyter_core==4.11.1
kiwisolver==1.4.4
lazy-object-proxy==1.4.3
matplotlib-inline==0.1.6
mccabe==0.6.1
nest-asyncio==1.5.6
networkx==2.6.3
numpy==1.21.6
opencv-python==4.7.0.72
packaging==23.1
parso==0.8.3
pefile==2019.4.18
pickleshare==0.7.5
Pillow==9.5.0
pip==22.3.1
prompt-toolkit==3.0.38
psutil==5.9.1
pycparser==2.20
pycrypto==2.6.1
Pygments==2.15.1
PyInstaller==3.6
pylibscrypt==2.0.0
pylint==2.4.4
pyparsing==3.0.9
python-dateutil==2.8.2
PyWavelets==1.3.0
pywin32==303
pywin32-ctypes==0.2.0
pywinauto==0.6.8
pyzmq==23.2.0
requests==2.23.0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
scrypt==0.8.20
setuptools==67.8.0
six==1.16.0
SkPy==0.9.1
soupsieve==2.0
threadpoolctl==3.1.0
tifffile==2021.11.2
tornado==6.2
traitlets==5.9.0
typed-ast==1.4.3
typing_extensions==4.4.0
urllib3==1.25.8
voluptuous==0.13.1
wcwidth==0.2.6
wheel==0.38.4
whichcraft==0.6.1
wincertstore==0.2
wrapt==1.14.1
